body {
    background-image: url('img/background-1000x500.jpg');
}

#box {
    width: 450px;
    height: 500px;
    margin: 15% auto;
    text-align: center;
    background: linear-gradient(#FFFFFF, #000000);
    box-shadow: 20px 20px 40px #8d8d8d;
}

h1 {
    margin: 20px auto;
    padding: 20px;
}

label {
    display: block;
    padding: 25px;
    font-size: 25px;
}

input {
    width: 350px;
    height: 25px;
}

#bot {
    width: 150px;
    height: 40px;
    margin-top: 45px;
    transition: .5s;
    border: none;
    border-radius: 5px;
}

#bot:hover {
    background: black;
    color: white;
}

#maps {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #000000;
    color: #FFFFFF;
    transition: .5s;
}

#maps:hover {
    background-color: #FFFFFF;
    color: #000000;
}

iframe {
    width: 80%;
    margin: 200px;
}